.vista{
    padding: 2rem;
}

.containerMiniaturas{
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-auto-rows: 1fr;
    gap: 3rem;
}

.inputFiltro{
    width: 15rem;
    height: 2rem;
    margin-bottom: 3rem;
    border-radius: 5px;
}

.favourite {
    color: rgb(255, 187, 0);
}

.icon {
    cursor: pointer;
}