.navbar {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background-color: rgb(6, 245, 145);
  padding: 10px;
}

.navbar h3 {
    width: 100%;
  margin: 0; /* Elimina el margen predeterminado del encabezado */
  color: black; /* Puedes cambiar el color del texto según tu diseño */
}

.navbar a {
  text-decoration: none;
  color: black; /* Puedes cambiar el color del texto según tu diseño */
  width: 100%; /* Ocupar todo el ancho posible */
  text-align: center; /* Centrar el texto horizontalmente */
  padding: 10px; /* Agregar espacio alrededor del texto para mejorar la apariencia */
}

.navbar a:hover {
  background-color: rgb(4, 180, 107); /* Cambia el color de fondo al pasar el ratón sobre el enlace */
}