body {
    display: grid;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    width: 100vw;
    height: 100vh;
    justify-content: center;
    align-content: center;
    background-color: #ffffff;
background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='160' height='160' viewBox='0 0 200 200'%3E%3Cpolygon fill='%23CED4FA' points='100 0 0 100 100 100 100 200 200 100 200 0'/%3E%3C/svg%3E");
}

.texto-motivador{
    font-size: 2em;
    text-align: center;
}

.tablero {
    display: grid;
    background-color: #B6AFE3;
    padding: 0.5em;
    gap: 0.2em;
    margin: auto;
}

.carta {
    font-size: 2em;
    user-select: none;
    background-color: #CED4FA;
    border: 1px solid #fff;
}

.carta:hover{
    cursor: pointer;
    background-color: #AFC3E3;
}

.cruz{
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.4s ease;
    width: 100%;
    height: 100%;
    opacity: 0;
}

.revelada{
    background-color: #B6AFE3;
    opacity: 1;
    color: black;
}



.cara{
    background-color: #C3E9FD;
    opacity: 1;
    color: black;
}

.bloqueada{
    background-color: #DAC3FD;
    opacity: 1;
    color: black;
}