body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  margin: auto;
  width: 50rem;
  background-color: rgb(121, 240, 190);
}

.box {
  margin: auto;
}

.container{
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 5px;
  margin: auto;
  width: 50rem;
}

.cell{
  background-color: rgb(121, 240, 190);
}

.hidden{
  opacity: 0.5;
}

.revealed{
  opacity: 1;
}