body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  margin: auto;
  width: 50rem;
  background-color: rgb(121, 240, 190);
}

.box {
  margin: auto;
}

.container{
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(10, 3rem);
  gap: 5px;
  margin: auto;
  
}

.contenedorPersona{
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  width: 50rem;
  gap: 5px;
  margin: auto;
}

.textoSegundos{
  text-align: center;
}

.cell{
  background-color: rgb(121, 240, 190);
  display: flex;
  justify-content: center;
  user-select: none;
}

.cell:hover{
  cursor: pointer;
  background-color: rgb(62, 177, 129);

}

.hidden, .revealed{
  margin:auto;
  transition: 0.6s ease;
}

.hidden{
  opacity: 0;
}

.revealed{
  opacity: 1;
  pointer-events: none;
}

