.estilo{
    font-weight: bold;
    font-size: large;
}

.tablero {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* Tres columnas iguales */
    grid-gap: 8px; /* Espacio entre las casillas (ajusta según tus necesidades) */
  }
  
  .casilla {
    border: 1px solid #ddd;
    padding: 10px;
    text-align: center;
    font-size: 18px;
  }

.scrollable-list {
    height: 50vh; /* Altura deseada de la lista */
    overflow-y: scroll; /* Agregar barra de desplazamiento vertical si es necesario */
    border: 1px solid #ccc; /* Borde para visualización */
  }

  .scrollable-list ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column-reverse; /* Invertir dirección de la columna */
  }

  .scrollable-list li {
    padding: 8px;
    border-bottom: 1px solid #ddd; /* Borde inferior para separar elementos */
  }